[data-md-color-scheme="slate"] {
    --md-default-bg-color:        #01233d;
    --md-code-bg-color:           #01355C;
    --md-primary-fg-color:        #01355C;
    --md-accent-fg-color:         #008CCD;
    --md-typeset-a-color:         #008CCD;
    --md-accent-fg-color--transparent: #f1f5fb;
}

[data-md-color-scheme="default"] {
    --md-default-bg-color:        #FFFFFF;
    --md-primary-fg-color:        #01355C;
    --md-accent-fg-color:         #008CCD;
    --md-typeset-a-color:         #008CCD;
    --md-accent-fg-color--transparent: #f1f5fb;
}

[data-md-color-scheme="default"] h1 {
    color: var(--md-accent-fg-color);
}

[data-md-color-scheme="slate"] .md-footer-meta {
  background-color: var(--md-primary-fg-color);
}

.md-header {
  color: #FFFFFF;
  background-color: var(--md-primary-fg-color);
}

.md-search__button {
  color: #FFFFFF;
  background-color: var(--md-primary-fg-color);
}

.md-search__button::before {
  background-color: #FFFFFF;
}

.md-search__button::after {
   background-color: var(--md-accent-fg-color);
}

.md-search__button:hover {
    background-color: #ffffff40;
    color: #FFFFFF;;
}
