<footer class="footer">
  <a href="https://www.palmsens.com">
    <img src="/palmsens_logo_white.svg" alt="PalmSens" width="250px"/>
  </a>
  <p>&copy; 2025 PalmSens BV
  <p><small style="color: #adb8c1">Made with <a href="https://antora.org/">Antora</a></small></p>
</footer>
